<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-heading-title">What kind of person are you looking for?</div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-10">
                    <form class="form-horizontal ng-pristine ng-valid" role="form" name="searchForm">

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="searchForm.country.$invalid? 'color-danger' : ''">
                                Country :
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="search.idCountry" theme="bootstrap" name="state"
                                               ng-change="updateSelectCountry(search.idCountry)">
                                        <ui-select-match placeholder="Select a country">{{ $select.selected.name }}</ui-select-match>
                                        <ui-select-choices repeat="country.idCountry as country in countries | filter: $select.search">
                                            <span ng-bind-html="country.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button type="button" ng-click="clearCountries()" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-if="states.length > 0">
                            <label class="col-sm-2 control-label"
                                   ng-class="searchForm.state.$invalid? 'color-danger' : ''">
                                State :
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="search.idState" theme="bootstrap" name="state"
                                               ng-change="updateSelectState(search.idState)">
                                        <ui-select-match placeholder="Select a state">{{ $select.selected.name }}</ui-select-match>
                                        <ui-select-choices repeat="state.idState as state in states | filter: $select.search">
                                            <span ng-bind-html="state.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button type="button" ng-click="clearStates()" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-if="cities.length > 0">
                            <label class="col-sm-2 control-label"
                                   ng-class="searchForm.cities.$invalid? 'color-danger' : ''">
                                Cities :
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <ui-select multiple ng-model="search.idsCity" theme="bootstrap" name="cities"
                                               close-on-select="false">
                                        <ui-select-match placeholder="Select cities">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="city.idCity as city in cities | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button type="button" ng-click="clearCities()" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="searchForm.sex.$invalid? 'color-danger' : ''">
                                Sex :
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="search.idSex" theme="bootstrap" name="sex">
                                        <ui-select-match placeholder="Select a sex">{{ LABELS[$select.selected.name] }}</ui-select-match>
                                        <ui-select-choices repeat="sex.idSex as sex in sexes | filter: $select.search">
                                            <span ng-bind-html="LABELS[sex.name] | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button type="button" ng-click="search.idSex = null" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="searchForm.goal.$invalid? 'color-danger' : ''">
                                Goal :
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="search.idGoal" theme="bootstrap" name="goal"
                                               ng-required="true">
                                        <ui-select-match placeholder="Select a goal">{{ LABELS[$select.selected.name] }}</ui-select-match>
                                        <ui-select-choices repeat="goal.idGoal as goal in goals | filter: $select.search">
                                            <span ng-bind-html="LABELS[goal.name] | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button type="button" ng-click="search.idGoal = null" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="searchForm.ageMin.$invalid? 'color-danger' : ''">
                                Minimum Age :
                            </label>

                            <div class="col-sm-2">
                                <input type="number" class="form-control"
                                       ng-class="searchForm.ageMin.$invalid ? 'ui-select-danger' : ''"
                                       name="ageMin" ng-model="search.ageMin" min="16"
                                       maxlength="2" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="searchForm.ageMax.$invalid? 'color-danger' : ''">
                                Maximum Age :
                            </label>

                            <div class="col-sm-2">
                                <input type="number" class="form-control"
                                       ng-class="searchForm.ageMax.$invalid ? 'ui-select-danger' : ''"
                                       name="ageMax" ng-model="search.ageMax"  min="{{search.ageMin}}"
                                       maxlength="2" required/>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="col-sm-5">

                                <input type="submit"  ng-disabled="searchForm.$invalid"
                                       value="Submit" class="btn btn-primary btn-w-md wam-btn-secondary"
                                       ng-click="submit()"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div ng-include="'modules/modals/chat/chat.modal.html'"></div>


