<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-heading-title">{{ state.title }}</div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-10">
                    <form class="form-horizontal ng-pristine ng-valid" role="form" name="profileForm">

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.username.$invalid? 'color-danger' : ''">
                                Username :
                            </label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       ng-class="profileForm.username.$invalid ? 'ui-select-danger' : ''"
                                       name="username" ng-model="profile.username"
                                       maxlength="64" ng-disabled="isLoggedIn" required/>
                            </div>
                        </div>

                        <div class="form-group" ng-if="!isLoggedIn">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.password.$invalid? 'color-danger' : ''">
                                Password :
                            </label>

                            <div class="col-sm-5">
                                <input type="password" class="form-control"
                                       ng-class="profileForm.password.$invalid ? 'ui-select-danger' : ''"
                                       name="password" ng-model="profile.password"
                                       maxlength="64" required/>
                            </div>
                        </div>

                        <div class="form-group" ng-if="isLoggedIn">
                            <label class="col-sm-2 control-label">
                                Password :
                            </label>

                            <div class="col-sm-5">
                                <input type="password" class="form-control"
                                       ng-class="profileForm.password.$invalid ? 'ui-select-danger' : ''"
                                       name="password" ng-model="profile.password"
                                       maxlength="64"/>
                            </div>

                            <span ng-if="!!profile.password" class="animate-if">
                                Warning : New password will be set to that.
                            </span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.firstName.$invalid? 'color-danger' : ''">
                                First Name :
                            </label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       ng-class="profileForm.firstName.$invalid ? 'ui-select-danger' : ''"
                                       name="firstName" ng-model="profile.firstName"
                                       maxlength="64" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.lastName.$invalid? 'color-danger' : ''">
                                Last Name :
                            </label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       ng-class="profileForm.lastName.$invalid ? 'ui-select-danger' : ''"
                                       name="lastName" ng-model="profile.lastName"
                                       maxlength="64" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.email.$invalid? 'color-danger' : ''">
                                Email :
                            </label>

                            <div class="col-sm-5">
                                <input type="email" class="form-control"
                                       ng-class="profileForm.email.$invalid ? 'ui-select-danger' : ''"
                                       name="email" ng-model="profile.email"
                                       maxlength="64" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.zipCode.$invalid? 'color-danger' : ''">
                                Zip Code :
                            </label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       ng-class="profileForm.zipCode.$invalid ? 'ui-select-danger' : ''"
                                       name="zipCode" ng-model="profile.zipCode"
                                       maxlength="64" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.country.$invalid? 'color-danger' : ''">
                                Country :
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="profile.idCountry" theme="bootstrap" name="country"
                                               ng-required="true" ng-change="updateSelectCountry(profile.idCountry)">
                                        <ui-select-match placeholder="Select a country">{{ $select.selected.name }}</ui-select-match>
                                        <ui-select-choices repeat="country.idCountry as country in countries | filter: $select.search">
                                            <span ng-bind-html="country.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button type="button" ng-click="clearCountries()" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-if="states.length > 0">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.state.$invalid? 'color-danger' : ''">
                                State :
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="profile.idState" theme="bootstrap" name="state"
                                               ng-required="true" ng-change="updateSelectState(profile.idState)">
                                        <ui-select-match placeholder="Select a state">{{ $select.selected.name }}</ui-select-match>
                                        <ui-select-choices repeat="state.idState as state in states | filter: $select.search">
                                            <span ng-bind-html="state.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button type="button" ng-click="clearStates()" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-if="cities.length > 0">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.city.$invalid? 'color-danger' : ''">
                                City :
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="profile.idCity" theme="bootstrap" name="city"
                                               ng-required="true">
                                        <ui-select-match placeholder="Select a city">{{ $select.selected.name }}</ui-select-match>
                                        <ui-select-choices repeat="city.idCity as city in cities | filter: $select.search">
                                            <span ng-bind-html="city.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button type="button" ng-click="profile.idCity = null" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.sex.$invalid? 'color-danger' : ''">
                                Sex :
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="profile.idSex" theme="bootstrap" name="sex"
                                               ng-required="true">
                                        <ui-select-match placeholder="Select a sex">{{ LABELS[$select.selected.name] }}</ui-select-match>
                                        <ui-select-choices repeat="sex.idSex as sex in sexes | filter: $select.search">
                                            <span ng-bind-html="LABELS[sex.name] | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                      <button type="button" ng-click="profile.idSex = null" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                      </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   ng-class="profileForm.birthdayDate.$invalid? 'color-danger' : ''">
                                Birthday Date :
                            </label>

                            <div class="col-sm-5">
                                <input type="date" class="form-control"
                                       ng-class="profileForm.zipCode.$invalid ? 'ui-select-danger' : ''"
                                       name="birthdayDate" ng-model="profile.birthdayDate"
                                       max="{{maxDate}}" min="{{minDate}}" ng-disabled="isLoggedIn" required/>
                            </div>
                        </div>

                        <div class="form-group" ng-if="isLoggedIn">
                            <label class="col-sm-2 control-label">
                                Membership :
                            </label>

                            <div class="col-sm-5">
                                <input type="text" class="form-control"
                                       name="role" ng-model="profile.role"
                                       maxlength="64" disabled required/>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="col-sm-5">

                                <input type="submit"  ng-disabled="profileForm.$invalid"
                                       value="Submit" class="btn btn-primary btn-w-md wam-btn-secondary"
                                       ng-click="submit()"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>